li {
  list-style: none;
}

.main {
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.shoes-container {
  width: 100%;
  display: grid;
  margin: 0 120px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
}

.shoe-card {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.shoe-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shoe-image {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.shoe-name {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.shoe-collection {
  color: #777;
  margin-bottom: 10px;
}

.shoe-price {
  font-size: 20px;
  font-weight: bold;
}
.hiden{
  display: none;
}